<div class="small-3 medium-2 columns message-pic">
  <% if message.sender.avatar.present? %>
    <%= link_to image_tag(message.sender.avatar.thumb), user_marketplace_path(message.sender) %>
  <% else %>
    <%= link_to image_tag("http://placehold.it/50x50&text=[img]"), user_marketplace_path(message.sender) %>
  <% end %>
</div>
<div class="small-9 medium-10 columns message-block left">
  <p class="message-name"><%= link_to message.sender.full_name, user_marketplace_path(message.sender) %></p>
  <p class="message-date"><%= message.created_at.strftime('%A %b %e %l:%M %P') %></p>
  <div class="row">
    <div class="small-12 columns">
      <p><%= message.body %></p>
    </div>
  </div>
</div>
<hr />