<div class="row">
  <div class="small-12 medium-5 large-4 columns hide-for-small">
    <%= render partial: "shared/home_nav" %>
  </div>

  <div class="small-12 medium-7 large-8 columns">
    <div class="row collapse">
      <div class="small-8 medium-9 columns">
        <%= text_field(:post, :title, size: 20, placeholder: "Search messages...") %>
      </div>
      <div class="small-4 medium-3 columns">
        <%= button_tag "Search", class: "postfix bon-button" %>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns panel">
        <h4>New Messages!</h4>
      </div>
    </div>
    <div class="row">
      <%= (render partial: 'message', collection: @new_messages, as: :conversation) || "No messages" %>
    </div>

    <div class="row">
      <div class="small-12 columns panel">
        <h4>Read Messages</h4>
      </div>
    </div>
    <div class="row">
      <%= (render partial: 'message', collection: @read_messages, as: :conversation) || "No messages" %>
    </div>
    <div class="row">
      <%= link_to "Load More", messages_index_path, class: "button radius expand bon-button" %>
    </div>
  </div>
</div>
