<div class="row">
  <div class="small-12 medium-4 columns">
    <%= render partial: "shared/home_nav" %>
  </div>
  <div class="small-12 medium-7 large-8 columns">
    <h4><%= @messages.first.subject %></h4>
    <hr />
    <div id="message-box" class="row">
      <%= render partial: 'receipt', collection: @messages, as: :message %>
    </div>
    <div class="row">
      <%= form_tag reply_message_path do %>
        <div class="small-10 columns">
          <%= text_field(:reply, :body, size: 20, placeholder: "Write a message...") %>
        </div>
        <div class="small-2 columns no-padding">
          <%= submit_tag "Reply", :class => "small bon-button reply-button", id: "reply-button" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
