<%= form_for(@listing) do |f| %>
<div class="row">
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="small-12 medium-6 columns">

    <%= f.label :headline %>
    <%= f.text_field :headline %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :sale_type, :class => 'inline-label' %><span data-tooltip aria-haspopup="true" class="has-tip tip-right" title="Select 'Sell now' if you want to give your listing a firm price.<br /><br />If you select 'Take offers', potential buyers will give you offers."><i class="fi-info"></i></span><br />
    <%= f.radio_button(:sale_type, "sale") %>
    <%= f.label "Sell now" %>
    <%= f.radio_button(:sale_type, "offer") %>
    <%= f.label "Take offers" %><br />

    <%= f.label :price, :class => "inline-label" %><span data-tooltip aria-haspopup="true" class="has-tip tip-right" title="Enter a price, even if you selected 'Take offers'. We won't display the price for listings you're taking offers on, but we'll use it to help search and sort listings."><i class="fi-info"></i></span>
    <%= f.text_field :price %>

    <%= f.label "Category" %>
    <%= f.collection_radio_buttons :category_id, @categories, :id, :name, { checked: @categories.first.id }, { id: 'categories_radio' } %><br />

    <%= f.check_box :shippable %>
    <%= f.label :shippable, "Willing to ship?" %><span data-tooltip aria-haspopup="true" class="has-tip tip-right" title="Check this box if you are willing to ship the item to the buyer."><i class="fi-info"></i></span><br />

    <%= f.check_box :publish %>
    <%= f.label :publish, "Publish now?" %><span data-tooltip aria-haspopup="true" class="has-tip tip-right" title="Check this box if you want to publish the listing right now.<br /><br />You can always pause a listing by unchecking this box later."><i class="fi-info"></i></span>

    <div class="actions">
      <%= f.submit "Save Listing", :class => "button tiny" %>
    </div>
  </div>
</div>
<% end %>
