<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :headline %>
    <%= f.text_field :headline %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label "Category" %>
    <%= f.collection_radio_buttons :category_id, @categories, :id, :name, { checked: @categories.first.id }, { id: 'categories_radio' } %>
  </div>

  <div class="field">
    <%= f.label :shippable, "Willing to ship?" %>
    <%= f.check_box :shippable %>
  </div>
  <div class="field">
    <%= f.label :publish, "Publish now?" %>
    <%= f.check_box :publish %>
  </div>

  <div class="actions">
    <%= f.submit "Save Listing" %>
  </div>
<% end %>
