<ul class="pricing-table">
  <li class="title"><%= @listing.headline %></li>
  <li class="description"><%= @listing.description %></li>
 <!--  <li class="bullet-item">
    <p>Common name: Japanese Black Pine</p>
    <p>Species: <em>Pinus thunbergii</em></p>
    <p>Japanese: 黒松 (Kuromatsu)</p>
  </li> -->
  <li class="bullet-item">Location: <%= @listing.location %></li>
  <li class="price"><%= number_to_currency(@listing.price) %></li>
  <li class="bullet-item"><%= willing_to_ship?(@listing) %></li>
  <!-- <li class="cta-button"><%#= link_to "I'm interested!", im_interested_path(@listing), method: :post %></li> -->
  <li class="cta-button"><%= pricing_table_button %></li>

  <div id="interestedModal" class="reveal-modal" data-reveal>
    <%= form_tag im_interested_path(@listing) do %>
      <h2>Like it? Let them know your interested!</h2>
      <div class="row">
        <div class="small-12 medium-8 large-6 columns">
          <p class="lead">Add a message</p>
          <%= label_tag :subject %>
          <%= text_field_tag :subject, @message_subject %>
          <%= label_tag :body %>
          <%= text_area_tag :body, @message_body %>
          <% if @listing.sale_type == "offer" %>
            <%= label_tag :offer %>
            <%= text_field_tag :offer %>
          <% end %>
        </div>
      </div>
      <a class="close-reveal-modal">&#215;</a>
      <%= submit_tag "Send", :class => "button tiny listing-close-reveal-modal" %>
    <% end %>
  </div>
</ul>