<% page_title "Home" %>
<div class="row">
  <!-- Nav Sidebar -->
  <div class="small-12 medium-4 columns ">
    <%= render partial: "shared/home_nav" %>
  </div>
  <!-- Main Feed -->
  <div class="small-12 medium-8 columns">
  <%= link_to "Add new listing", new_listing_path, class: "button radius expand new-listing-button" %>
    <h2>Current Listings</h2>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Category</th>
          <th>Published</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @listings.each do |listing| %>
          <tr class="listing">
            <td><%= link_to listing.title, listing %></td>
            <td><%= "#{listing.category.name}" %></td>
            <td><%= listing.published? %></td>
            <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
            <td><%= link_to 'Remove', remove_listing_path(listing), method: :patch, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
  <!-- Right Sidebar -->
  <!-- On small devices this column is hidden -->
  <!-- <aside class="medium-3 columns hide-for-small">
    <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
    <p><img src="http://placehold.it/300x440&text=[ad]" /></p>
  </aside>  -->
</div>
