<div class="panel">
  <div class="row">
    <div class="small-4 columns home-nav-box">
      <% if current_user.avatar.present? %>
        <%= image_tag(current_user.avatar.main, id: "profile-pic", :class => "home-nav-pic") %>
      <% else %>
        <%= image_tag("http://placehold.it/300x300&text=[img]", id: "profile-pic", :class => "home-nav-pic") %>
      <% end %>
    </div>
    <div class="small-8 columns home-nav-name">
      <p><%= current_user.full_name %></p>
    </div>
  </div>
  <div class="row">
    <div id="home-nav" class="small-12 columns">
      <hr class="home-nav-hr" />
      <h5 class="title"><i class="fi-home"></i> <%= link_to_unless_current "Home", user_root_path %></h5>
      <hr class="home-nav-hr" />
      <h5 class="title"><i class="fi-price-tag"></i> <%= link_to_unless_current "My Listings", listings_path %></h5>
      <hr class="home-nav-hr" />
      <h5 class="title"><i class="fi-burst-sale <%= "notification" if new_offers? %>"></i> <%= link_to_unless(offers_page?, "Offers", offers_path) %></h5>
      <% if offers_page? %>
        <ul>
          <li><%= link_to_unless_current "Received", offers_path %></li>
          <li><%= link_to_unless_current "Sent", sent_offers_path %></li>
        </ul>
      <% end %>
      <hr class="home-nav-hr" />
      <h5 class="title"><i class="fi-mail <%= "notification" if new_messages? %>"></i> <%= link_to_unless(messages_page?, "Messages", messages_path) %></h5>
      <% if messages_page? %>
        <ul id="mailbox-links">
          <li><%= link_to_unless_current "Inbox", messages_path %></li>
          <li><%= link_to_unless_current "Sent", sent_path %></li>
          <li><%= link_to_unless_current "Trash", trash_path %></li>
        </ul>
      <% end %>
      <hr class="home-nav-hr" />
      <h5 class="title"><i class="fi-wrench"></i> <%= link_to_unless_current "Settings", edit_user_registration_path %></h5>
    </div>
  </div>
</div>