<div class="small-3 medium-2 columns listing-thumb">
  <% if listing.pics.empty? %>
    <%= link_to image_tag("http://placehold.it/50x50&text=[img]", :class => "th"), listing_path(listing) %>
  <% else %>
    <%= link_to image_tag(listing.thumb_image, :class => "th"), listing_path(listing) %>
  <% end %>
</div>
<div class="small-9 medium-10 columns">
  <p class="message-name"><%= listing.headline %></p>
  <div class="row">
    <div class="small-12 columns">
    <% if listing.is_offer? %>
      <p><%= link_to pluralize(listing.inquiries.seen.count, "Offer") << '!', offer_path(listing) %></p>
    <% else %>
      <p><%= link_to pluralize(listing.inquiries.seen.count, "Person") << ' Interested!', offer_path(listing)%></p>
    <% end %>
    </div>
  </div>
</div>
<hr />