<li class="topbar-link-moz"><%= link_to("<i class='fi-shopping-cart'></i> Marketplace".html_safe, marketplace_path, :class => marketplace_page? ? "current topbar-link-moz" : "topbar-link-moz") %></li>
<% if user_signed_in? %>
  <li class="has-dropdown topbar-link-moz hide-for-small-only">
    <%= link_to "#{ new_notification_notice(mobile: false) }<i class='fi-home'></i> Home".html_safe, user_root_path, :class => "topbar-link-moz home-link" %>
    <ul class="dropdown">
      <%= render partial: "home_links" %>
    </ul>
  </li>
  <%= render partial: "mobile_home_links" %>
  <li class="topbar-link-moz"><%= link_to "<i class='fi-power'></i> Sign Out".html_safe, destroy_user_session_path, :class => "topbar-link-moz", :method => :delete %></li>
<% else %>
  <li class="topbar-link-moz"><%= link_to "<i class='fi-power'></i> Sign In".html_safe, new_user_session_path, :class => "topbar-link-moz" %></li>
<% end %>