<div id="profile-banner" class="row">
  <div id="profile-pic-box" class="small-4 medium-3 large-2 columns no-padding">
    <% if @user.avatar.present? %>
      <%= image_tag(@user.avatar.main, id: "profile-pic") %>
    <% else %>
      <%= image_tag("http://placehold.it/240x240&text=[img]", id: "profile-pic") %>
    <% end %>
  </div>
  <div id="profile-name-column" class="small-7 medium-8 large-9 columns no-padding">
    <h4 id="profile-name" class="text-left"><%= @user.full_name %></h4>
    <p id="profile-address"><%= @user.location %></p>
    <% if user_signed_in? && not_current_user(@user) %>
      <div class="row">
        <div class="small-10 medium-5 large-4 columns">
          <a href="#" data-reveal-id="sendMessageModal" class="button radius small bon-button profile-button"><i class="fi-mail"></i> Send Message</a>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if user_signed_in? && not_current_user(@user) %>
<div id="sendMessageModal" class="reveal-modal" data-reveal>
  <%= form_tag send_message_path(@user) do %>
    <h2>Send a message!</h2>
    <div class="row">
      <div class="small-12 medium-8 large-6 columns">
        <%= label_tag :subject %>
        <%= text_area_tag :subject %>
        <%= label_tag :body, "Message" %>
        <%= text_area_tag :body %>
      </div>
    </div>
    <a class="close-reveal-modal">&#215;</a>
    <%= submit_tag "Send", :class => "button tiny listing-close-reveal-modal" %>
  <% end %>
</div>
<% end %>