<%= page_title(@user.full_name) %>
<div class="row">
  <%= render partial: "profile_banner" %>
  <div id="marketplace-nav" class="medium-4 large-3 columns hide-for-small">
    <div class="panel">
      <%= render partial: "shared/marketplace_nav" %>
    </div>
  </div>
  <div class="small-12 medium-8 large-9 columns">
    <%= render partial: "user_marketplace_search_filter" %>
    <%= render partial: "shared/marketplace_items" %>
  </div>
</div>