<% page_title(@user.full_name) %>
<div class="row">
  <%= render partial: "profile_banner" %>
</div>
<div class="row">
  <div id="marketplace-nav" class="medium-4 large-3 columns hide-for-small">
    <%= render partial: "shared/marketplace_nav" %>
    <% if my_profile?(@user) %>
      <%= link_to "Add new listing", new_listing_path, :class => "button radius expand new-product-button" %>
    <% end %>
  </div>
  <div class="small-12 medium-8 large-9 columns">
    <% if my_profile?(@user) %>
      <%= link_to "Add new listing", new_listing_path, :class => "button radius expand new-product-button hide-for-medium-up" %>
    <% end %>
    <%= render partial: "user_marketplace_search_filter" %>
    <h1><%= @category %></h1>
    <%= render partial: "shared/marketplace_items" %>
  </div>
</div>