<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "bonsai list" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body class="<%= controller.controller_name %>">

    <%= render partial: "icon_bar" %>
    <%= render partial: "topbar" %>
    <%= render partial: "hero" %>
    <div class="row">
      <% flash.each do |key, value| %>
        <div class='flash small-12 columns' id='<%= key %>'>
          <p class="text-center"><%= value %></p>
        </div>
      <% end %>
    </div>

    <%= yield %>
    <%= render partial: "footer" %>

    <%= javascript_include_tag "application" %>
  </body>
</html>